<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>
  <body>
    <main>
      <h2>Log In</h2>
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Log In</button>
      </form>
    </main>
  </body>
</html>
